body {
  font-size: 5vh;
}

label {
  font-size: inherit;
}

#message-input,
#link-input {
  font-size: 5vh;
  line-height: 150%;
  padding: 5px;
  height: 8vh;
}

button {
  font-size: 8vh;
  color: darkblue;
  background-color: white;
  border: 5px solid darkblue;
  border-radius: 25%;
  margin: 2%;
}

